<h1>Roof Stock</h1>
<p>Welcome to Roof Stock, built with:</p>
<ul>
  <li><a href='https://get.asp.net/'>ASP.NET Core</a> and <a
      href='https://msdn.microsoft.com/en-us/library/67ef8sbd.aspx'>C#</a> for cross-platform server-side code</li>
  <li><a href='https://angular.io/'>Angular</a> and <a href='http://www.typescriptlang.org/'>TypeScript</a> for
    client-side code</li>
  <li><a href='http://getbootstrap.com/'>Bootstrap</a> for layout and styling</li>
</ul>
<h1>Property Listings</h1>
<table class="table table-responsive">
  <thead>
    <th>Address (Address1-2, District, City, State, Country, County, zip)</th>
    <th>Year Built</th>
    <th>List Price $</th>
    <th>Monthly Rent $</th>
    <th>Gross Yield %</th>
    <th>Action</th>
  </thead>
  <tbody>
    <tr *ngFor="let p of AllProperties">
      <td>{{p.Address}}
      </td>
      <td>{{p.YearBuilt || 'NA'}}</td>
      <td>{{(p.ListPrice | currency:'USD':'symbol':'3.2-2') || 'NA'}}</td>
      <td>{{(p.MonthlyRent  | currency:'USD':'symbol':'3.2-2') || 'NA'}}</td>
      <td>
        {{(p.GrossYield
              | percent:'1.2-2')
          || 'NA'}}
      </td>
      <td>
        <input class="btn btn-primary" type="button" (click)="onSave(p)" value="Save">
      </td>
    </tr>
  </tbody>
</table>
